# --- Backend (Python/FastAPI) ---
__pycache__/
venv/
.env
backend/.env
*.sqlite3
*.sqlite
*.db
backend/*.db
*.sql_app.db

# --- Frontend (Next.js/Node) ---
node_modules/
.next/
.DS_Store
out/
build/

# --- Tools ---
.vscode/